* {
    font-size: 20px;
}

.word {
    cursor: pointer;
}

.letter {
    cursor: pointer;
    padding-left: .25em;
    padding-right: .25em;
}

#container {
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: 5em, 5em, 1em, 1em, 2em, 40em;
    grid-auto-flow: row;
    grid-template-areas:
        "title title"
        "intro intro"
        "search search"
        "select select"
        "alefbet alefbet"
        "definitions day";
}

#title {
    grid-area: title;
    font-size: 40px;
    font-weight: bold;
}

#intro {
    grid-area: intro;
}

#search {
    grid-area: search;
    text-align: right;
}

#select {
    grid-area: select;
    text-align: right;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#alefbet {
    grid-area: alefbet;
    text-align: right;
    padding-bottom: 1em;
}

#definitions {
    grid-area: definitions;
}

#day {
    padding-top: .5em;
    grid-area: day;
    height: 40em;
    overflow-y: auto;
}