#alefbet {
    float: right;
    position: relative;
    font-size: 20px;
}

#day {
    float: right;
    position: relative;
    height: 40em;
    overflow-y: auto;
    font-size: 20px;
}

#def {
    font-size: 20px;
}

#intro {
    font-size: 20px;
}

#search {
    float: right;
    position: relative;
    font-size: 20px;
}

#select {
    float: right;
    position: relative;
    font-size: 20px;
}

